/* HEADER */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Header base */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: white; 
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 40px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

/* Nav */
header nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 150px;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #000000; 
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

/* Botón */
header nav .btn-nav {
  background: #0B4B64;
  color: white !important;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;        /*fuerza negrita */
  text-decoration: none;    /*saca el subrayado */
  white-space: nowrap;
  transition: background 0.3s ease, color 0.3s ease;
}


/* Header Pantalla 1 */
header.on-hero {
  background: transparent; 
}

header.on-hero nav ul li a {
  color: white;
}

header.on-hero .btn-nav {
  background: white;
  color: #0B4B64 !important;
}

/* Logos */
.logo-container {
  position: relative;
  width: auto;
  height: 50px;
}

.logo {
  height: 50px;
  transition: opacity 0.3s ease;
  position: absolute; 
  top: 0;
  left: 0;
}

.logo-blanco {
  opacity: 0; 
}

header.on-hero .logo-color {
  opacity: 0; 
}

header.on-hero .logo-blanco {
  opacity: 1; 
}

/* Pantalla 1 */
.pantalla1 {
  text-align: center;
  padding-top: 120px; 
  background: linear-gradient(to bottom, #0B4B64, #1697CA);
  min-height: 100vh;
  color: white;
}

.pantalla1 h1 {
  font-size: 30px; 
  font-weight: bold;
  margin-bottom: 40px;
}

.promo-box {
  background: #2C3E50;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 900px;   
  margin: 0 auto;
  padding: 20px 35px; 
  gap: 20px;
}

.promo-text {
  flex: 1;
  text-align: center;
  font-size: 34px;  
  line-height: 1.4;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-text strong {
  color: #C3CAD9;
}

.store-buttons img {
  height: 40px;  
  margin-top: 15px;
  cursor: pointer;
}

.promo-image {
  display: flex;
  align-items: flex-end;
}

.promo-image img {
  max-height: 320px; 
  height: auto;
  display: block;
}

/*PANTALLA 2*/
.pantalla2 {
  padding: 80px 60px;
  text-align: center;
  background-color: #F9FAF6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pantalla2-contenido h2 {
  font-size: 36px;
  color: #0B4B64;
  margin-bottom: 70px;
  margin-top: 10px;
}

.imagen-box p {
  color: #000000;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;

}

.pantalla2-imagenes {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.imagen-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  max-width: 300px;
}

.imagen-box img {
  width: 100%;
  height: 200px; 
  object-fit: contain;
  margin-bottom: 15px;
}

.imagen-box h3 {
  color: #0B4B64;
  margin-bottom: 10px;
}

.imagen-box p {
  color: #000;
  font-size: 25px;
}

  /* PANTALLA 3*/
.empresas {
    background: #F9FAF6;
    text-align: center;
    padding: 50px 20px;
  }
  
  .empresas h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #2C3E50;
  }
  
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .logos img {
    max-height: 50px;
    width: auto;
    object-fit: contain;
  }
  
  /* PANTALLA 4*/
.lanzamiento {
    background: #2C3E50;
    color: white;
    padding: 40px 20px;
  }
  
  .lanzamiento-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .lanzamiento h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #F9FAF6;
  }
  
  .contador {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .time {
    text-align: center;
  }
  
  .number {
    font-size: 28px;
    font-weight: bold;
    display: block;
  }
  
  .label {
    font-size: 14px;
    color: #bdc3c7;
  }
  
  .separador {
    font-size: 28px;
    font-weight: bold;
    color: white;
  }
  
/* PANTALLA 5 */
.store {
  background: #F9FAF6;
  padding: 40px 20px;
  text-align: center;
}

.store-header h2 {
  font-size: 45px;
  font-weight: bold;
  color: #2C3E50;
  margin-bottom: 10px;
}

.store-header p {
  font-size: 30px;
  color: #000;
  margin-bottom: 50px;
  font-weight: bold;
}

.store-items {
  background: #0e4361;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 55px;
  flex-wrap: wrap;
}

.item {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.item img {
  max-width: 200px;
  border-radius: 8px;
}

.item .sale {
  position: absolute;
  top: -25px;   
  left: -25px;  
  width: 80px;  
  height: auto;
}
  
  /* PANTALLA 6*/
.pricing {
    background: #F9FAF6;
    padding: 50px 20px;
    text-align: center;
  }
  
  .pricing-header h2 {
    font-size: 35px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .pricing-header p {
    font-size: 20px;
    color: #000;
    margin-bottom: 50px;
    font-weight: bold;
  }
  
  .pricing-plans {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }
  
  .plan {
    background: #F9FAF6;
    border-radius: 10px;
    padding: 25px;
    width: 240px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    position: relative;
    font-weight: bold;
  }
  
  .plan h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .plan .price2 {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
  }

  .plan .price {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .plan .price span {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
  }
  .plan .price2 span {
    font-size: 14px;
    color: #F9FAF6;
    font-weight: bold;
  }

  .plan ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
    font-weight: bold;
  }
  
  .plan ul li {
    margin: 8px 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .current {
    margin-top: 30px;
    color: #6A6A6A;
    font-weight: bold;
  }
  
  .buy-btn {
    background: #17C40E;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .buy-btn:hover {
    background: #17C40E;
  }

  .basic {
    border: 1px solid #ccc;
  }
  
  .standard {
    background: #0e4361;
    color: white;
  }
  
  .premium {
    background: #0e4361;
    color: white;
  }
  
  .recommended {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: red;
    color: white;
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .lanzamiento {
  scroll-margin-top: 100px; 
  }